.container {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    margin: 10px 10px;
    border-radius: 5px;
    transition: .15s ease-in;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #808080;
}

.container:hover {
    background:linear-gradient(45deg, #0099aeff, #2658adcc);
    color: white;
}

.container .icon {
    font-size: 1.15rem;
}

.container .text {
    font-family: 'Raleway';
    font-size: 1.15rem;
    margin-left: 10px;
}

.active {
    background:linear-gradient(45deg, #0099aeff, #2658adcc);
    color: white;
}